n8n-workflow-pedidos-webhook-v2.json
{
  "name": "Nuvemshop - Pedidos (Webhook Tempo Real)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "nuvemshop-orders",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-a1b2c3d4e5f6",
      "name": "Webhook Pedidos",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "nuvemshop-orders-wh"
    },
    {
      "parameters": {
        "jsCode": "const order = $input.first().json.body;\nconst customer = order.customer || {};\nconst products = order.products || [];\nconst payment = order.payment_details || {};\n\nconst productName = products.map(p => {\n  const name = p.name;\n  if (typeof name === 'object') return name.pt || name.es || name.en || Object.values(name)[0] || '';\n  return name || '';\n}).join(', ');\nconst productPrice = products.map(p => p.price || '0').join(', ');\nconst quantityBuyed = products.map(p => p.quantity || 1).join(', ');\n\nreturn [{\n  json: {\n    id_pedido: order.id,\n    nuvemshop_id: String(order.id),\n    customer_id: customer.id || null,\n    customer_name: customer.name || order.contact_name || '',\n    customer_email: order.contact_email || customer.email || '',\n    customer_phone: order.contact_phone || '',\n    contact_identification: order.contact_identification || '',\n    status: order.status || '',\n    payment_status: order.payment_status || '',\n    shipping_status: order.shipping_status || '',\n    created_at: order.created_at || null,\n    updated_at: order.updated_at || null,\n    completed_at: (order.completed_at && order.completed_at.date) || null,\n    paid_at: order.paid_at || null,\n    cancelled_at: order.cancelled_at || null,\n    closed_at: order.closed_at || null,\n    read_at: order.read_at || null,\n    subtotal: parseFloat(order.subtotal) || 0,\n    discount: parseFloat(order.discount) || 0,\n    discount_coupon: order.discount_coupon || null,\n    discount_gateway: parseFloat(order.discount_gateway) || 0,\n    total: parseFloat(order.total) || 0,\n    total_usd: parseFloat(order.total_usd) || 0,\n    total_paid_by_customer: parseFloat(order.total_paid_by_customer) || null,\n    currency: order.currency || 'BRL',\n    gateway: order.gateway || '',\n    gateway_name: order.gateway_name || '',\n    gateway_id: order.gateway_id || '',\n    gateway_link: order.gateway_link || null,\n    payment_method: payment.method || '',\n    payment_cc_company: payment.credit_card_company || null,\n    payment_installments: payment.installments ? parseInt(payment.installments) : null,\n    shipping_name: order.shipping_name || order.billing_name || '',\n    shipping_phone: order.shipping_phone || '',\n    shipping_address: order.shipping_address || '',\n    shipping_number: order.shipping_number || '',\n    shipping_floor: order.shipping_floor || '',\n    shipping_locality: order.shipping_locality || '',\n    shipping_zipcode: order.shipping_zipcode || '',\n    shipping_city: order.shipping_city || '',\n    shipping_province: order.shipping_province || '',\n    shipping_country: order.shipping_country || '',\n    billing_name: order.billing_name || '',\n    billing_phone: order.billing_phone || '',\n    billing_address: order.billing_address || '',\n    billing_number: order.billing_number || '',\n    billing_floor: order.billing_floor || '',\n    billing_locality: order.billing_locality || '',\n    billing_zipcode: order.billing_zipcode || '',\n    billing_city: order.billing_city || '',\n    billing_province: order.billing_province || '',\n    billing_country: order.billing_country || '',\n    same_billing_and_shipping: order.same_billing_and_shipping_address || false,\n    shipping_option_name: order.shipping_option || '',\n    shipping_carrier_name: order.shipping_carrier_name || '',\n    shipping_consumer_cost: parseFloat(order.shipping_cost_customer) || 0,\n    shipping_merchant_cost: parseFloat(order.shipping_cost_owner) || 0,\n    shipping_tracking_number: order.shipping_tracking_number || null,\n    shipping_tracking_url: order.shipping_tracking_url || null,\n    storefront: order.storefront || null,\n    note: order.note || null,\n    owner_note: order.owner_note || null,\n    client_browser_ip: (order.client_details && order.client_details.browser_ip) || null,\n    client_user_agent: (order.client_details && order.client_details.user_agent) || null,\n    app_id: order.app_id || null,\n    product_name: productName,\n    product_price: productPrice,\n    quantity_buyed: quantityBuyed\n  }\n}];"
      },
      "id": "a1b2c3d4-0001-0001-0002-a1b2c3d4e5f6",
      "name": "Mapear Pedido",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://jytsrxrmgvliyyuktxsd.supabase.co/rest/v1/dezoito_orders?on_conflict=nuvemshop_id",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "COLE_SERVICE_ROLE_KEY_AQUI" },
            { "name": "Authorization", "value": "Bearer COLE_SERVICE_ROLE_KEY_AQUI" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "resolution=merge-duplicates,return=minimal" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "string",
        "body": "={{ JSON.stringify([$input.first().json]) }}",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0003-a1b2c3d4e5f6",
      "name": "Supabase - Upsert Pedido",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [710, 300]
    }
  ],
  "connections": {
    "Webhook Pedidos": {
      "main": [[{ "node": "Mapear Pedido", "type": "main", "index": 0 }]]
    },
    "Mapear Pedido": {
      "main": [[{ "node": "Supabase - Upsert Pedido", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": []
}
